body {
	
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.col {
  text-align : center;
  padding:5px;
}

.row {
  padding:0;
  margin:0;
}

.cheader {
  font-weight: 700;
  font-size: 18px;
}

.numbers {
  font-size: 16px;
}

.daily {
  font-size: 14px;
}

.card {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}

.parent {
  padding:5px;
}


.wtable {
  height: 600px;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ntable {
  height: 500px;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

.npie {
  height : 425px;
}

.stable {
  height: 500px;
}

.nheat {
  height: 400px;
}

.cchart {
  height:300px;
}

.schart {
  height:300px;
}

.wheat {
  width: 100%;
  height: 650px;
  overflow-x: auto;
  overflow-y: hidden;
}

footer p {
  background-color: gray;
  padding: 15px;
  text-align:center;
  color: white;
}

.update {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

#wselect {
  width: 30%;
  float: right;
}
