<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='shortcut icon' type='image/x-icon' href='https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/SARS-CoV-2_without_background.png/330px-SARS-CoV-2_without_background.png' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'helper.js') }}" ></script>
	<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'functions.js') }}" ></script>
    <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'functions2.js') }}" ></script>
	<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'main.js') }}" ></script>
	
	<title>India Covid Cases</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">INDIA COVID-19 DASHBOARD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutmodal">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#creditmodal">Credits</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container-fluid parent">
	  
	  <div class="alert alert-primary update" role="alert">
		  Last Updated : {{ end_date }}
	  </div>

	  <p>
	  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
	    What is COVID-19?
	  </a>
	  </p>
	  <div class="collapse" id="collapseExample">
		   <div class="jumbotron">
			  <h1 class="display-4">COVID-19</h1>
			  <p class="lead">The COVID-19 pandemic, also known as the coronavirus pandemic, is an ongoing pandemic of coronavirus disease 2019 (COVID-19) caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The disease was first identified in December 2019 in Wuhan, China. The World Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 January 2020 and a pandemic on 11 March 2020.</p>
			  <hr class="my-4">
			  <p>For more information go to Ministry of Health website</p>
			  <a class="btn btn-primary btn-lg" href="https://www.mohfw.gov.in/" role="button">Ministry of Health</a>
			</div>
	  </div>


	  <div class="container-fluid">
		<div class="row row-cols-2 row-cols-sm-2 row-cols-md-5 row-cols-lg-5 numbers">
		  <div class="col">
			<div class="alert alert-danger panel" role="alert">
			  <span class="cheader">Confirmed</span><br>
			  <span class="numbers" id="cum_confirmed">+12345678</span><br>
			  <span class="daily"  id="daily_confirmed">+12345678</span>
			</div>
		  </div>
		  <div class="col">
			<div class="alert alert-success panel" role="alert">
			  <span class="cheader">Recovered</span><br>
			  <span class="numbers" id="cum_recovered">12345678</span><br>
			  <span class="daily" id="daily_recovered">+12345678</span>
			</div>
		  </div>
		  <div class="col">
			<div class="alert alert-dark panel" role="alert">
			  <span class="cheader">Deceased</span><br>
			  <span class="numbers" id="cum_deceased">12345678</span><br>
			  <span class="daily"  id="daily_deceased">+12345678</span>
			</div>
		  </div>
		  <div class="col">
			<div class="alert alert-warning panel" role="alert">
			  <span class="cheader">Active</span><br>
			  <span class="numbers" id="cum_active">12345678</span><br>
			  <span class="daily" id="daily_active">+12345678</span>
			</div>
		  </div>
		  <div class="col">
			<div class="alert alert-info panel" role="alert">
			  <span class="cheader">Tested</span><br>
			  <span class="numbers" id="cum_tested">12345678</span><br>
			  <span class="daily" id="daily_tested">+12345678</span>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-6">
		  	<select class="form-control" id="wselect">
				  <option>Confirmed</option>
				  <option>Recovered</option>
				  <option>Deceased</option>
				  <option>Active</option>
			</select>
			<div class="card wheat">
				<div id="world_heat"></div>
			</div>
		  </div>
		  <div class="col-lg-6">

		  	<br>

			<div class="wtable">
			  <div class="table-responsive-md">
				   <table class="table table-bordered table-striped" id="wtable">
					  <thead class="thead-dark">
					    <tr>

					    	{% for col in world_cols %}
					    	  		{% if(col!=world_cols[0]) %}
					    	   			<th scope="col" class="tcols">{{col}}</th>
							        {% else %}
								        <th scope="col" class="common-val">{{col}}</th>
							        {% endif %}
					        {% endfor %}
					     
					    </tr>
					  </thead>

					  <tbody>

					  	    {% for row in world_rows %}
					    <tr>
						        {% for val in row %}
							        {% if(val==row[0]) %}
								        <td class="f-col-val">
								           <strong>{{val}}</strong>
								        </td>
							        {% else %}
								        <td>
								           {{val}}
								        </td>
							        {% endif %}
						        {% endfor %}
					    </tr>
					    	{% endfor %}

					  </tbody>

					</table>

				</div>

			</div>

			<br>

		  </div>
		</div>
	  </div>


	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-6">
			<div class="card cchart">
				<div id="world_confirmed"></div>
			</div>
		  </div>
		  <div class="col-lg-6">
		  	<div class="card cchart">
				<div id="world_deceased"></div>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-6">
			<div class="card cchart">
				<div id="world_recovered"></div>
			</div>
		  </div>
		  <div class="col-lg-6">
		  	<div class="card cchart">
				<div id="world_mortality"></div>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="container-fluid" style="margin: 0 auto; max-width: 992px;">
		<div class="card cchart">
			<div id="world_trend"></div>
		</div>
	  </div>

	  <br>
	  <br>

	  
	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-5">

		  	<div class="card npie">
			  <div id="nation_pie"></div>
			</div>
			
		  </div>

		  <div class="col-lg-7">

			<div class="ntable">
			   
			    <div class="table-responsive-md">
				   <table class="table table-bordered table-striped" id="ntable">
					  <thead class="thead-dark">
					    <tr>

					    	{% for col in nation_cols %}
					       		 {% if(col!=nation_cols[0]) %}
					    	   			<th scope="col" class="tcols">{{col}}</th>
							        {% else %}
								        <th scope="col" class="common-val" style="position: sticky; left: 0; top: 0;">Categoty</th>
							        {% endif %}
					        {% endfor %}
					     
					    </tr>
					  </thead>

					  <tbody>

					  	    {% for row in nation_rows %}
					    <tr>
					        {% for val in row %}
							        {% if(val==row[0]) %}
								        <td class="f-col-val">
								           <strong>{{val}}</strong>
								        </td>
							        {% else %}
								        <td>
								           {{val}}
								        </td>
							        {% endif %}
						        {% endfor %}
					    </tr>
					    	{% endfor %}

					  </tbody>

					</table>
				</div>

			</div>

			<br>

		  </div>
		</div>
	  </div>
			

	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-6">
			<div class="card nheat" id="nheat">
			</div>
		  </div>
		  <div class="col-lg-6">

			<br>

			<div class="stable">
			   
			    <div class="table-responsive-md">
				   <table class="table table-bordered table-striped" id="stable">
					  <thead class="thead-dark">
					    <tr>

					    	{% for col in state_cols %}
					       		 {% if(col!=state_cols[0]) %}
					    	   			<th scope="col" class="tcols">{{col}}</th>
							        {% else %}
								        <th scope="col" class="common-val">{{col}}</th>
							        {% endif %}
					        {% endfor %}
					     
					    </tr>
					  </thead>

					  <tbody>

					  	    {% for row in state_rows %}
					    <tr>
					        {% for val in row %}
							        {% if(val==row[0]) %}
								        <td class="f-col-val">
								           <strong>{{val}}</strong>
								        </td>
							        {% else %}
								        <td>
								           {{val}}
								        </td>
							        {% endif %}
						        {% endfor %}
					    </tr>
					    	{% endfor %}

					  </tbody>

					</table>
				</div>

			</div>

		  </div>
		</div>
	  </div>

	  <br>
	  
	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-6">
			<div class="card cchart">
				<ul class="inline-ul">
					<li><p>Category</p></li>
					<li><select class="form-control" id="cselect">
					  <option>Confirmed</option>
					  <option>Recovered</option>
					  <option>Deceased</option>
					  <option>Active</option>
					  <option>Tested</option>
					</select></li><br>
					<li><p>Graph</p></li>
					<li><select class="form-control" id="tselect">
					  <option>Cumulative</option>
					  <option>Daily</option>
					  <option>Log</option>
					</select></li>
				</ul>
				<div class="btn-group dchange" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-secondary active" id="c_beginning">Beginning</button>
				  <button type="button" class="btn btn-secondary" id="c_sixty">Last 60 Days</button>
				  <button type="button" class="btn btn-secondary" id="c_week">Last 7 Days</button>
				</div>
				<div id="categ_charts"></div>
			</div>
		  </div>
		  <div class="col-lg-6">
			<div class="card cchart">
				<div class="btn-group dchange" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-secondary active" id="cr_beginning">Beginning</button>
				  <button type="button" class="btn btn-secondary" id="cr_sixty">Last 60 Days</button>
				  <button type="button" class="btn btn-secondary" id="cr_week">Last 7 Days</button>
				</div>
			  <div id="categ_charts_right1"></div>
			  <div id="categ_charts_right2"></div>
			</div>
		  </div>
		</div>
	  </div>


	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-7">
			<div class="card cchart">
				<div id="top_state"></div>
			</div>
		  </div>
		  <div class="col-lg-5">
			<div class="card cchart">
			 	<div id="state_pie"></div>
			</div>
		  </div>
		</div>
	  </div>


	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-6">
			<div class="card cchart">
				<div id="state_test_cases"></div>
			</div>
		  </div>
		  <div class="col-lg-6">
		  	<div class="card cchart">
				<select class="form-control" id="sselect">
			  		{% for sname in state_labels_full %}
					  <option>{{ sname }}</option>
					{% endfor %}
				</select>

				<div id="state_chart"></div>
				
			</div>
		  </div>
		</div>
	  </div>

	   <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
		  <div class="col-lg-6">
				<div class="dtable">
					<div class="table-responsive-md">
					   <table class="table table-bordered table-striped" id="dtable">
						  <thead class="thead-dark" id="dist_table_head">
						    <tr>
						    	{% for col in district_cols %}
					       		 	{% if(col!=district_cols[0]) %}
						    	   		<th scope="col" class="tcols">{{col}}</th>
							        {% else %}
								        <th scope="col" class="common-val">{{col}}</th>
							        {% endif %}
						        {% endfor %}
						    </tr>
						  </thead>
						  <tbody id="dist_table_body">
						  	{% for row in district_rows %}
						    <tr>
						        {% for val in row %}
							        {% if(val==row[0]) %}
								        <td class="f-col-val">
								           <strong>{{val}}</strong>
								        </td>
							        {% else %}
								        <td>
								           {{val}}
								        </td>
							        {% endif %}
						        {% endfor %}
						    </tr>
						    {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
		  </div>
		  <div class="col-lg-6">
		  	<br>
		  	<div class="card cchart">
				<select class="form-control" id="dselect">
			  		{% for dname in districts %}
					  <option>{{ dname }}</option>
					{% endfor %}
				</select>

				<div id="district_chart"></div>
				
			</div>
		  </div>
		</div>
	  </div>

	  
    </div>


    <!-- About Modal -->
	<div class="modal fade" id="aboutmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">About</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>A Flask based web app showing daily COVID-19 updates.</p>
	        <p>Developer : <b>Rushabh Patel</b></p>
	        <p>Mail 	: 	<i>rushabhp99@gmail.com</i></p>
	        <p>Github 	: 	<i>rushabh71</i></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	 <!-- Credits Modal -->
	 <div class="modal fade" id="creditmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalCenterTitle">Credits</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data">JHU CSSE COVID-19 Dataset</a>
	      	<br>
	      	<a href="https://api.covid19india.org/">COVID19-India API</a>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
       
  <footer class="container-fluid">
	<p>Developed by Rushabh Patel @2020</p>
  </footer>
  
</body>

 <script type="text/javascript">

 		/* Storing data received from requests in variables and 
 		   initializing new variables */

		var numbers ={{ numbers | safe }}
		var world_heat = {{ world_heat | safe }}
		var npie_labels = {{ npie_labels | safe }}
		var npie_cases = {{ npie_cases | safe }}
		var df_state = {{ df_state | safe }}
		var total_confirmed = {{ total_confirmed | safe }}
		var total_recovered = {{ total_recovered | safe }}
		var total_active = {{ total_active | safe }}
		var total_deceased = {{ total_deceased | safe }}
		var total_tested = {{ total_tested | safe }}
		var daily_confirmed = {{ daily_confirmed | safe }}
		var daily_recovered = {{ daily_recovered | safe }}
		var daily_deceased = {{ daily_deceased | safe }}
		var daily_active = {{ daily_active | safe }}
		var daily_tested = {{ daily_tested | safe }}
		var dates = {{ dates | safe }}
		var total_confirmed_log = {{ total_confirmed_log | safe }}
		var total_recovered_log = {{ total_recovered_log | safe }}
		var total_active_log = {{ total_active_log | safe }}
		var total_deceased_log = {{ total_deceased_log | safe }}
		var total_tested_log = {{ total_tested_log | safe }}
		var cases_pm = {{ cases_pm | safe }}
		var tests_pm = {{ tests_pm | safe }}
		var positivity_rate = {{ positivity_rate | safe }}
		var state_labels = {{ state_labels | safe }}
		var state_confirmed = {{ state_confirmed | safe }}
		var state_recovered = {{ state_recovered | safe }}
		var state_deceased = {{ state_deceased | safe }}
		var state_active = {{ state_active | safe }}
		var state_tested = {{ state_tested | safe }}
		var state_labels_full = {{ state_labels_full | safe }}
		var state_confirmed_full = {{ state_confirmed_full | safe }}
		var state_tested_full = {{ state_tested_full | safe }}
		var state_deceased_full = {{ state_deceased_full | safe }}
		var world_df_time = {{ world_df_time | safe }}
		var countries = {{ countries | safe }}
		var x_two = {{ x_two }}
		var y_two = {{ y_two }}
		var x_four = {{ x_four }}
		var y_four = {{ y_four }}
		var x_ten = {{ x_ten }}
		var y_ten = {{ y_ten }}
		var x_seven = {{ x_seven }}
		var y_seven = {{ y_seven }}
		var x_twelve = {{ x_twelve }}
		var y_twelve = {{ y_twelve }}
		var world_trend_x = {{ world_trend_x | safe }}
		var mortality_rate = {{ mortality_rate | safe }}
		var state_confirmed_avg = {{ state_confirmed_avg }}
		var state_active_avg = {{ state_active_avg }}
		var state_deceased_avg = {{ state_deceased_avg }}
		var state_recovered_avg = {{ state_recovered_avg }}
		var state_tested_avg = {{ state_tested_avg }}
		var end_date = {{ end_date }}
		var district_confirmed_avg = {{ district_confirmed_avg }}
		var district_active_avg = {{ district_active_avg }}
		var district_deceased_avg = {{ district_deceased_avg }}
		var district_recovered_avg = {{ district_recovered_avg }}
		var district_tested_avg = {{ district_tested_avg }}
		var cat = 'Confirmed';
	 	var type = 'Cumulative';
	 	var c = 0; 		//Default date range is 'Beginning' for category chart	
	 	var cr = 0;		//Default date range is 'Beginning' for category chart-right

</script>

</html>
