<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'main.js') }}" ></script>
	
	<title>India Covid Cases</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">India Corona Cases&nbsp&nbsp<img src='https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/383px-Flag_of_India.svg.png' width="34", height="20"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Credits</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container-fluid parent">
	  
	  <div class="alert alert-primary update" role="alert">
		  Last Updated : {{ end_date }}
	  </div>

	  <div class="container-fluid">
		<div class="row row-cols-2 row-cols-sm-2 row-cols-md-5 row-cols-lg-5">
		  <div class="col">
			<div class="alert alert-danger" role="alert">
			  <span class="cheader">Confirmed</span><br>
			  <span class="numbers" id="cum_confirmed">+12345678</span><br>
			  <span class="daily"  id="daily_confirmed">+12345678</span>
			</div>
		  </div>
		  <div class="col">
			<div class="alert alert-success" role="alert">
			  <span class="cheader">Recovered</span><br>
			  <span class="numbers" id="cum_recovered">12345678</span><br>
			  <span class="daily" id="daily_recovered">+12345678</span>
			</div>
		  </div>
		  <div class="col">
			<div class="alert alert-secondary" role="alert">
			  <span class="cheader">Deceased</span><br>
			  <span class="numbers" id="cum_deceased">12345678</span><br>
			  <span class="daily"  id="daily_deceased">+12345678</span>
			</div>
		  </div>
		  <div class="col">
			<div class="alert alert-warning" role="alert">
			  <span class="cheader">Active</span><br>
			  <span class="numbers" id="cum_active">12345678</span><br>
			  <span class="daily" id="daily_active">+12345678</span>
			</div>
		  </div>
		  <div class="col">
			<div class="alert alert-info" role="alert">
			  <span class="cheader">Tested</span><br>
			  <span class="numbers" id="cum_tested">12345678</span><br>
			  <span class="daily" id="daily_tested">+12345678</span>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
		  <div class="col-lg-7 col-md-6">
		  	<select class="form-control" id="wselect">
				  <option>Confirmed</option>
				  <option>Recovered</option>
				  <option>Deceased</option>
				  <option>Active</option>
			</select>
			<div class="card wheat" id="world_heat">
			</div>
		  </div>
		  <div class="col-lg-5 col-md-6">

			<form class="form-inline my-2 my-lg-0" id="wtable-search">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search : United States" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form> 

			<div class="wtable">
			  <div class="table-responsive-md">
				   <table class="table table-bordered">
					  <thead class="thead-dark">
					    <tr>

					    	{% for col in world_cols %}
					    	  		{% if(col!=world_cols[0]) %}
					    	   			<th scope="col" class="tcols">{{col}}</th>
							        {% else %}
								        <th scope="col" class="common-val">{{col}}</th>
							        {% endif %}
					        {% endfor %}
					     
					    </tr>
					  </thead>

					  <tbody>

					  	    {% for row in world_rows %}
					    <tr>
						        {% for val in row %}
							        {% if(val==row[0]) %}
								        <td class="f-col-val">
								           <strong>{{val}}</strong>
								        </td>
							        {% else %}
								        <td>
								           {{val}}
								        </td>
							        {% endif %}
						        {% endfor %}
					    </tr>
					    	{% endfor %}

					  </tbody>

					</table>

				</div>
			</div>

			<br>

			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item"><a class="page-link" href="#">Next</a></li>
			  </ul>
			</nav>

		  </div>
		</div>
	  </div>
	  
	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
		  <div class="col-md-4 col-lg-4">

		  	<div class="card npie">
			  <div id="nation_pie"></div>
			</div>
			
		  </div>

		  <div class="col-md-8 col-lg-8">

			<div class="ntable">
			   
			    <div class="table-responsive-md">
				   <table class="table table-bordered">
					  <thead class="thead-dark">
					    <tr>

					    	{% for col in nation_cols %}
					       		 {% if(col!=nation_cols[0]) %}
					    	   			<th scope="col" class="tcols">{{col}}</th>
							        {% else %}
								        <th scope="col" class="common-val">{{col}}</th>
							        {% endif %}
					        {% endfor %}
					     
					    </tr>
					  </thead>

					  <tbody>

					  	    {% for row in nation_rows %}
					    <tr>
					        {% for val in row %}
							        {% if(val==row[0]) %}
								        <td class="f-col-val">
								           <strong>{{val}}</strong>
								        </td>
							        {% else %}
								        <td>
								           {{val}}
								        </td>
							        {% endif %}
						        {% endfor %}
					    </tr>
					    	{% endfor %}

					  </tbody>

					</table>
				</div>

			</div>

			<br>

			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item"><a class="page-link" href="#">Next</a></li>
			  </ul>
			</nav>

		  </div>
		</div>
	  </div>
			

	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
		  <div class="col-md-6 col-lg-6">
			<div class="card nheat" id="nheat">
			</div>
		  </div>
		  <div class="col-md-6 col-lg-6">

			<form class="form-inline my-2 my-lg-0" id="wtable-search">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search : Gujarat" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form> 
		    <br>
			
			<div class="stable">
			   
			    <div class="table-responsive-md">
				   <table class="table table-bordered">
					  <thead class="thead-dark">
					    <tr>

					    	{% for col in state_cols %}
					       		 {% if(col!=state_cols[0]) %}
					    	   			<th scope="col" class="tcols">{{col}}</th>
							        {% else %}
								        <th scope="col" class="common-val">{{col}}</th>
							        {% endif %}
					        {% endfor %}
					     
					    </tr>
					  </thead>

					  <tbody>

					  	    {% for row in state_rows %}
					    <tr>
					        {% for val in row %}
							        {% if(val==row[0]) %}
								        <td class="f-col-val">
								           <strong>{{val}}</strong>
								        </td>
							        {% else %}
								        <td>
								           {{val}}
								        </td>
							        {% endif %}
						        {% endfor %}
					    </tr>
					    	{% endfor %}

					  </tbody>

					</table>
				</div>

			</div>

		  </div>
		</div>
	  </div>
	  
	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
		  <div class="col-md-6">
			<div class="card cchart">
			  <h5 class="card-title">Card title</h5>
			  Category charts
			</div>
		  </div>
		  <div class="col-md-6">
			<div class="card schart">
			  <h5 class="card-title">Card title</h5>
			  State charts
			</div>
		  </div>
		</div>
	  </div>
	  
    </div>
       
  <footer class="container-fluid">
	<p>Developed by Rushabh Patel @2020</p>
  </footer>
  
</body>

 <script type="text/javascript">

		var numbers ={{ numbers | safe }}
		var world_heat = {{ world_heat | safe }}
		var npie_labels = {{ npie_labels | safe }}
		var npie_cases = {{ npie_cases | safe }}
		var df_state = {{ df_state | safe }}

</script>

</html>
